:root {
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
    --heading-font-family: "Platfair Display", serif;
    --default-font-family: "Poppins", sans-serif;
}
body{
    font-family: var(--default-font-family);
}
.top-info {
    text-align: center;
    background: var(--secondary-color);
    padding: 160px 20px;
}
.top-info p{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142
}
.top-info h1{
    font-size: 96px;
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}
.top-info h2{
    font-family: var(--heading-font-family);
    font-weight: normal;
    line-height: 1.5;
    font-size: 24px;
}
.btn-branding{
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
}